h1{
    text-align: center;
    text-shadow: 0px 0px 8px rgb(0, 255, 0), 0px 0px 3px white;
}


form{
    width: 50%;
    margin: auto;
    font-size: 16px;
    background-color: rgba(0, 100, 0,0.8);
    /* border: 2px solid black; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: -5px -5px 8px black;
}


#formstyle{
    background-color: rgba(0, 0, 100,0.8);
}

form#formstyle{
    background-color: rgba(255, 255, 0, 0.8) !important; 
}

.formclass{
    background-color: rgba(255, 0, 0, 0.8);
}
form.formclass{
    background-color: rgba(255, 0, 200, 0.8);
}

legend{
    font-weight: bold;
}
body{
    background-image: url("kepek/2-nature.jpg");
}
fieldset{
    border: 2px  solid green ;
    border-radius: 15px;
    box-shadow: inset -5px -5px 8px rgba(0, 0, 0, 0.726);
}

.textareaDiv{
    width: 60%;
    margin: auto;
}

textarea{
    width: 100%;
}

#csuszka{
    width: 100%;
}

fieldset img{
    width: 100px;
}

#imgFieldset{
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    /* flex-direction: column; */
    flex-wrap: wrap;
}